<nav class="navbar navbar-expand-lg sytle navbar-light bg-light">
    <div class="container-fluid">
    
        <!-- ICON -->
        <a routerLink='/list' routerLinkActive="active" class="navbar-brand sytle" >
            <h2><i class="fa fa-camera-retro" aria-hidden="true"></i> Dorian Gallery</h2></a>
        
        <!-- BUTTON FOR NAVBAR-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- COLLAPSE -->
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <!-- INLINE TEXT-->
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a routerLink="/upload" routerActive="active" class="nav-link active">
                        <h4><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload</h4></a>
                </li>
                <li class="nav-item">
                    <a href="https://cloudinary.com/documentation/java_integration" target="_blank" class="nav-link active">
                        <h4><small class="fa fa-book" aria-hidden="true"></small> SDK reference</h4></a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/Joseff361?tab=repositories" target="_blank" class="nav-link active">
                        <h4><i class="fa fa-github" aria-hidden="true"></i> Github</h4></a>
                </li>
            </ul>
        </div>
    </div>
</nav>